@{
    ViewBag.Title = "已发送重置邮件";
}

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white text-center">
                    <h4 class="mb-0">重置邮件已发送</h4>
                </div>
                <div class="card-body text-center">
                    <p class="text-muted mb-4">
						如果您输入的邮箱关联了一个现有账户，我们将发送一封邮件，指示您如何重置密码
                    </p>
                    <p class="mb-4">
                        如果未收到邮件，请检查是否拦截和位于垃圾箱中，或者在此处 <strong><a asp-controller="Account" asp-action="ForgotPassword" class="text-primary">重试</a></strong>.
                    </p>
                </div>
                <div class="card-footer text-center">
                    <a asp-controller="Account" asp-action="Login" class="btn btn-primary">返回登录</a>
                </div>
            </div>
        </div>
    </div>
</div>