@{
	ViewData["Title"] = "不允许的访问";
	Layout = "_LayoutError";
}

<div class="container mt-5">
	<div class="row justify-content-center">
		<div class="col-md-6 text-center">
			<h1 class="display-4 text-danger mb-4">慢一些</h1>
			<p class="lead text-muted mb-5">您没有权限访问该页面资源。</p>
		</div>
	</div>
</div>