@{
	ViewData["Title"] = "页面未找到";
	Layout = "_LayoutError";
}

<section class="not-found">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h1 class="display-4">404</h1>
				<p class="lead">抱歉，您查找的页面无法找到。</p>
				<p>这可能是由于拼写错误或者该页面已经被移除。</p>
			</div>
		</div>
	</div>
</section>
